<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="test" class="com.java.Test"> <!-- Class위치, id 이름 -->

<!--	<property name="a" value="1234"/>  Test Class의 private int a의 값 (Setter에 값을 넣음) -->

	<constructor-arg name="a" value="1111"/> <!-- 생성자에 값을 넣음 -->
	
</bean>

</beans>